composer.phar
composer.lock
# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
.env
web/app/mu-plugins/woocommerce
web/wp*
web/app/uploads*
create_database.php
web/app/debug.log
php.ini-development
vendor.zip
/web/app/languages
/web/app/plugins/contact-form-7
web/app/debug.log
web/1111.htaccess
*.zip
/web/app/plugins/loco-translate
/web/app/plugins/redis-cache
/web/app/plugins/revslider
/web/app/plugins/woocommerce/assets
/web/app/plugins
/web/app/themes/betheme
web/app/debug.log
